@model ShoppingCartViewModel

@if(Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <div class="row">
        @*<div class="col">
            <p>Total</p>
        </div>*@
        <ul class="navbar-nav mb-2  mb-lg-0 col mt-2">
            <li>
                <a>
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span id="cart-status"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>

                        <span>
                           @Model.ShoppingCart.ShoppingCartItems.Count
                        </span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
}


<style>
    #cart-status{
        color: #fff;
        font-size:25px;
        display: flex;
        gap:10px;
    }

    #cart-status span {
        position:absolute;
        margin-left:40px;
        margin-top: -3px;
    }

    .row > .col > p {
        color: white;
        font-size:27px;
    }
</style>
