<div class="m-lg-5">
    <div>
        <h2>Contact Bethany's Pie Shop</h2>
        <p>If you have any questinos, please don't hesitate to get in touch. Click below to send us an email.</p>
        <email address="info@@bethanyspieshop.com" content="Contact us" class="btn btn-secondary"></email>
    </div>
    <br />
    <div class="row gap-4">
        <div class="col">
            <img src="~/images/PieContact1.jpeg" alt="contact-us" width="1000" height="auto" />
        </div>
        <div class="col">
            <img src="~/images/PieContact2.jpg" alt="contact-us" width="auto" height="66%" />
        </div>
    </div>
</div>﻿


